<img src="https://hs.unit.br/hs-fs/hubfs/LOGOS.jpg?width=624&name=LOGOS.jpg" width="200px" height="100px">
<!--h1>{{title}}</h1-->
<div class="menu">
  <!--nav-->
    <a routerLink="/clientes">CLIENTES</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/marcas">MARCAS</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/categorias">CATEGORIAS</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/fornecedores">FORNECEDORES</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/formaspagamento">FORMAS DE PAGAMENTO</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/produtos">PRODUTOS</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/faqs">FAQ</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/vendas">VENDAS</a>
  <!--/nav-->
  &nbsp;|&nbsp;
  <!--nav-->
    <a routerLink="/itens-venda">ITENS DE VENDA</a>
  <!--/nav-->
</div>
<br>
<!--img src="./bin.jpg" alt="lixeira"-->
<div class="principal">
  <router-outlet></router-outlet>
</div>
<br>
<br>
<footer>Copyright Loja Unit 2021. Todos os direitos reservados.</footer>